<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Cart</title>
	<script src="/js/jquery-2.2.4.js"></script>
	<script src="/js/user.js"></script>
	<script src="/js/cart.js"></script>
	<script src="/js/cartAjax.js"></script>
	<script src="/js/cartCoursesSelect.js"></script>
	<script src="/js/cartStudentSelect.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>
	<input type="hidden" id="username" th:value="${#httpServletRequest.remoteUser}"/>
	<input type="hidden" id="authorities" th:value="${#httpServletRequest.userPrincipal.authorities}"/>
	<input type="hidden" id="currentStudent"/>
	
	
	<h3>Search Course</h3>
	<div id="termArea">
		<select id="term_select">
			<option selected="selected" disabled="disabled">Choose a term:</option>
		</select>
		
		<div id="allCourses">
		</div>
	</div>
	
	<div id="cartArea">
		<div id="studentSelectDiv" style="display: none;">
			<select id="student_select">
				<option selected="selected" disabled="disabled">Choose a student:</option>
			</select>
		</div>
		<div id="cart">
		</div>
	</div>
	
	<button onclick="location.href='http://localhost:8080'">Home</button>
	
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
</body>
</html>