<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Change Password</title>
	
	<script src="/js/jquery-2.2.4.js"></script>
	<script src="/js/modal.js"></script>
	<script src="/js/changePassword.js"></script>
	<script src="/js/changePasswordAjax.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>
	<input type="hidden" id="username" th:value="${#httpServletRequest.remoteUser}"/>
	<div class="container-fluid">
	
		<div class="row">
		<div class="col-md-6  h1 text-right">
			<form th:action="@{/logout}" method="post">
				<input class="btn btn-primary" type="submit" value="Sign Out" />
			</form>
		</div>
		<div class="col-md-6 h1 text-left">
			<h1 th:inline="text">Change password [[${#httpServletRequest.remoteUser}]]</h1>
		</div>
	</div>
	
        <div class="row text-center">
        	
			<div>
				<label> Current Password :</label>
				<span><input class="form-control" id="pass" name="password" type="password"  value="" /></span>
			</div>
			<div>
				<label> New Password:</label>
				<span><input class="form-control" id="newPass" type="password" value="" /></span>
			</div>
			<div>
				<label> Confirm Password:</label> 
				<span><input class="form-control" id="passConfirm" type="password" value="" /></span>
				<span id="error" class="alert alert-error" style="display:none" th:text="'Passwords do not Match!'">error</span>
			</div>
			<div>
				<button class="btn btn-default" id="changePassword" type="submit" >Change Password</button>
			</div>
			<div>
			<button class="btn btn-default" onclick="location.href='http://localhost:8080'">Home</button>
			</div>
		</div>
	</div>
	
	<!-- Error Modal -->
	<div class="modal fade" id="messageModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Error</h4>
				</div>
				<div class="modal-body">
					<p>Generic error.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>