<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Change Password</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">

const ROOT_PATH = "http://localhost:8080";

function AjaxChangePass(username, password, newPassword) {
	$.ajax({
		headers: { 
	        'Accept': 'application/json',
	        'Content-Type': 'application/json' 
	    },
		type: "POST",
		url: ROOT_PATH + "/changePassword/user/" + username + "/password/" + password + "/newPassword/" + newPassword, 
		success: 
			function(){
				changedPassword();
			}
	});
}


$( document ).ready(function() {
	$("#changePassword").click(savePass);
});
function savePass(){
	var user = $("#username").val();
	var pass = $("#pass").val();
    var newPass = $("#newPass").val();
    var passConfirm = $("#passConfirm").val();
    if(!(newPass === passConfirm)) {
      $("#error").show();
      return; 
    }
    else{
    	AjaxChangePass(user, pass, newPass);
    	}
};

function changedPassword(){
	
      $("#success").show();
      return; 
};


</script>  

</head>
<body>
	<input type="hidden" id="username" th:value="${#httpServletRequest.remoteUser}"/>
	<span id="success" class="alert alert-error" style="display:none" th:text="'Successfully changed password!'">success</span>
	<h1 th:inline="text">Change password for [[${#httpServletRequest.remoteUser}]]</h1>
	<div class="container">
        <div class="row">
			<div>
			<br/>
				<label class="col-sm-2"> Current Password :</label>
				<span class="col-sm-5"><input class="form-control" id="pass" name="password" type="password"  value="" /></span>
				<span class="col-sm-5"></span>
				<span id="wrongPassError" class="alert alert-error" style="display:none" th:text="'Current Password Incorrect!'">wrongPassError</span>
			<br/>
				<label class="col-sm-2"> New Password:</label>
				<span class="col-sm-5"><input class="form-control" id="newPass" type="password" value="" /></span>
				<span class="col-sm-5"></span>
			<br/>
				<label class="col-sm-2"> Confim Password:</label> 
				<span class="col-sm-5"><input class="form-control" id="passConfirm" type="password" value="" /></span>
				<span class="col-sm-5"></span>
				<span id="error" class="alert alert-error" style="display:none" th:text="'Passwords do not Match!'">error</span>
			<br/><br/>
				<button id="changePassword" type="submit" >Change Password</button>
			</div>
		</div>
	</div>
	
	<button onclick="location.href='http://localhost:8080'">Home</button>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>

  

</body>
</html>