<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Grades</title>
	<script src="/js/jquery-2.2.4.js"></script>
	<script src="/js/user.js"></script>
	<script src="/js/grades.js"></script>
	<script src="/js/gradesAjax.js"></script>
	<script src="/js/gradesCoursesSelect.js"></script>
</head>
<body>
	<input type="hidden" id="username" th:value="${#httpServletRequest.remoteUser}"/>
	<input type="hidden" id="authorities" th:value="${#httpServletRequest.userPrincipal.authorities}"/>
	<input type="hidden" id="currentProfessor"/>
	
	<h3>Search Course</h3>
	<select id="term_select">
		<option selected="selected" disabled="disabled">Choose a term:</option>
	</select>
	
	<div id="allCourses">
	</div>
	
	<button onclick="location.href='http://localhost:8080'">Home</button>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
</body>
</html>