<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<link href="/css/bootstrap.min.css" rel="stylesheet"></link>
<title>Login Page</title>
</head>
<body>
	<div class="container-fluid">
        <div class="row text-center">
            <h1>MockSIS Login</h1>
			<div class="text-error" th:if="${param.error}">Invalid username or password.</div>
			<div class="text-success" th:if="${param.logout}">You have been logged out.</div>
			<form th:action="@{/login}" method="post">
				<div>
					<label> User Name :</label>
					<span><input class="form-control" type="text" name="username" /></span>
				</div>
				<div>
					<label> Password:</label> 
					<span><input class="form-control" type="password" name="password" /></span>

				</div>
				<div>
					<input class="btn btn-default" type="submit" value="Sign In" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>